* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /* border: 2px solid orange; */
}

body {
    background-color: #efefef;
    /* border: 2px solid blue; */

}

header,
footer {
    width: 100%;
    height: 10%;
    background-color: #727272;
    display: flex;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: -apple-system;
    font-size: 26px;
    font-weight: 400;
    color: white;

}

.ux {
    font-size: 30px;
    margin-left: 3px;
    font-style: italic;
    font-weight: 900;
    font-family: -apple-system;

}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 992px;
    margin: 0 auto;

    /* border: 3px solid pink; */
}

nav {
    width: 400px;
    height: 100%;
    /* border: 3px solid white; */

    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    width: 100px;
    height: 80px;
    /* border: 2px solid ; */

    color: #e8e8e8;
    text-decoration: none;
    font-family: verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s, margin-left 0.8s, margin-bottom 0.8s;
}

nav a:hover {
    /* color: pink;
    text-decoration: underline;
    font-style: italic; */
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgba(230, 230, 230, 0.5);
}

.main-flex {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;


    /* border: 2px solid green; */
}

.harmonia {
    width: 700px;
    height: 100%;
    background-color: white;

    /* margin: 10px; */

    /* border: 2px solid blue; */

}

.harmonia img {
    width: 100%;
}

.harmonia h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    color: #a8a8a8;
}

.harmonia p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: #a8a8a8;
}

aside {
    /* border: 2px solid purple; */

    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
    /* background-color: rgb(225, 110, 110); */


}

aside article {
    background-color: white;
    


}

aside article h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    color: #a8a8a8;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border: 2px solid #a8a8a8;

}

aside .buscar-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

aside article input,
aside article button {
    height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

aside article button {
    width: 30px;
    background-color: #727272;
    color: white;
    border: none;
    border: 1px solid #727272;
    cursor: pointer;
}

aside article input {
    border: 1px solid #a8a8a8;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
}



main {
    width: 100%;
    height: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid red; */


}